<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KaiwaProjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KaiwaProjects.Properties.Settings>
            <setting name="PythonExe" serializeAs="String">
                <value>WinPython-64bit-2.7.10.3\python-2.7.10.amd64\python.exe</value>
            </setting>
            <setting name="ConvertToTIFF32" serializeAs="String">
                <value>tools_raw2tiff32.py</value>
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value>stp-core</value>
            </setting>
        </KaiwaProjects.Properties.Settings>
    </userSettings>
</configuration>