<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYRMEPTomoProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BrunTomoProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYRMEPTomoProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BrunTomoProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <SYRMEPTomoProject.Properties.Settings>
            <setting name="PythonExe" serializeAs="String">
                <value>WinPython-64bit-2.7.10.3\python-2.7.10.amd64\python.exe</value>
            </setting>
            <setting name="TimeOutWaitForLogInSeconds" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PhaseRetrievalJob" serializeAs="String">
                <value>exec_phaseretrieval.py</value>
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value>stp-core</value>
            </setting>
            <setting name="ProgramName" serializeAs="String">
                <value>SYRMEP Tomo Project</value>
            </setting>
            <setting name="TIFFFileFormatExtension" serializeAs="String">
                <value>.tif</value>
            </setting>
            <setting name="EstimatedRemaingTimeThresh" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="ReconstructionJob" serializeAs="String">
                <value>exec_reconstruct.py</value>
            </setting>
            <setting name="TomoDataFormatExtension" serializeAs="String">
                <value>.tdf</value>
            </setting>
            <setting name="RecAlgsXmlFile" serializeAs="String">
                <value>recalgs.xml</value>
            </setting>
            <setting name="PhrtAlgsXmlFile" serializeAs="String">
                <value>phrtalgs.xml</value>
            </setting>
            <setting name="GuessCenterJob" serializeAs="String">
                <value>tools_guesscenter.py</value>
            </setting>
            <setting name="RingRemAlgsXmlFile" serializeAs="String">
                <value>remring.xml</value>
            </setting>
            <setting name="FlatFieldAlgsXmlFile" serializeAs="String">
                <value>flatfield.xml</value>
            </setting>
            <setting name="ConvertToTDFJob" serializeAs="String">
                <value>exec_tiff2tdf.py</value>
            </setting>
            <setting name="PreProcessingJob" serializeAs="String">
                <value>exec_preprocessing.py</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.1.25</value>
            </setting>
            <setting name="GuessOverlapJob" serializeAs="String">
                <value>tools_guessoverlap.py</value>
            </setting>
            <setting name="FbpFiltersXmlFile" serializeAs="String">
                <value>fbpfilters.xml</value>
            </setting>
            <setting name="ConvertToTIFFJob" serializeAs="String">
                <value>exec_tdf2tiff.py</value>
            </setting>
            <setting name="ExtractImage" serializeAs="String">
                <value>tools_extractdata.py</value>
            </setting>
            <setting name="DegradationMethodsXmlFile" serializeAs="String">
                <value>degradecrop.xml</value>
            </setting>
            <setting name="PostProcessJob" serializeAs="String">
                <value>exec_postprocessing.py</value>
            </setting>
            <setting name="HISFileFormatExtension" serializeAs="String">
                <value>.his</value>
            </setting>
            <setting name="ConvertHIS2TDFJob" serializeAs="String">
                <value>exec_his2tdf.py</value>
            </setting>
            <setting name="DependenciesPath" serializeAs="String">
                <value>depend</value>
            </setting>
            <setting name="VC2010Redistributable_x64" serializeAs="String">
                <value>vcredist_x64.exe</value>
            </setting>
            <setting name="PerformGPUCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhaseRetrievalPreviewJob" serializeAs="String">
                <value>preview_phaseretrieval.py</value>
            </setting>
            <setting name="PreProcessingPreviewJob" serializeAs="String">
                <value>preview_preprocessing.py</value>
            </setting>
            <setting name="ReconstructPreviewJob" serializeAs="String">
                <value>preview_reconstruct.py</value>
            </setting>
            <setting name="AutoLimitJob" serializeAs="String">
                <value>tools_autolimit.py</value>
            </setting>
            <setting name="ConvertEDFToTDF" serializeAs="String">
                <value>exec_edf2tdf.py</value>
            </setting>
            <setting name="EDFFileFormatExtension" serializeAs="String">
                <value>.edf</value>
            </setting>
        </SYRMEPTomoProject.Properties.Settings>
        <BrunTomoProject.Properties.Settings>
            <setting name="PythonExe" serializeAs="String">
                <value>WinPython-64bit-2.7.6.3\python-2.7.6.amd64\python.exe</value>
            </setting>
            <setting name="TimeOutWaitForLogInSeconds" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PhaseRetrievalJob" serializeAs="String">
                <value>phaseretrieval.py</value>
            </setting>
            <setting name="MatlabClose" serializeAs="String">
                <value>MatlabAutomation_Close.exe</value>
            </setting>
            <setting name="MatlabOpen" serializeAs="String">
                <value>MatlabAutomation_Open.exe</value>
            </setting>
            <setting name="MatlabPath" serializeAs="String">
                <value>matlab_def</value>
            </setting>
            <setting name="PythonPath" serializeAs="String">
                <value>python_def</value>
            </setting>
            <setting name="MatlabReconstruct" serializeAs="String">
                <value>MatlabAutomation_Reconstruct.exe</value>
            </setting>
            <setting name="MatlabInvisible" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProgramName" serializeAs="String">
                <value>SYRMEP Tomo Project</value>
            </setting>
            <setting name="BrowseInputPath" serializeAs="String">
                <value>browseInputPath.py</value>
            </setting>
            <setting name="TIFFFileFormatExtension" serializeAs="String">
                <value>.tif</value>
            </setting>
            <setting name="EstimatedRemaingTimeThresh" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="ReconstructionJob" serializeAs="String">
                <value>reconstructAstra.py</value>
            </setting>
            <setting name="TomoDataFormatExtension" serializeAs="String">
                <value>.tdf</value>
            </setting>
            <setting name="RecAlgsXmlFile" serializeAs="String">
                <value>recalgs.xml</value>
            </setting>
            <setting name="PhrtAlgsXmlFile" serializeAs="String">
                <value>phrtalgs.xml</value>
            </setting>
            <setting name="MatlabReconstructIterative" serializeAs="String">
                <value>MatlabAutomation_ReconstructIterative.exe</value>
            </setting>
            <setting name="GuessCenterJob" serializeAs="String">
                <value>guess_center.py</value>
            </setting>
            <setting name="CorrectionJob" serializeAs="String">
                <value>correct.py</value>
            </setting>
            <setting name="RingRemAlgsXmlFile" serializeAs="String">
                <value>remring.xml</value>
            </setting>
            <setting name="FlatFieldAlgsXmlFile" serializeAs="String">
                <value>flatfield.xml</value>
            </setting>
            <setting name="ConvertToTDFJob" serializeAs="String">
                <value>tiff2tdf.py</value>
            </setting>
            <setting name="PreProcessingJob" serializeAs="String">
                <value>correct.py</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="GuessOverlapJob" serializeAs="String">
                <value>guess_overlap.py</value>
            </setting>
            <setting name="FbpFiltersXmlFile" serializeAs="String">
                <value>fbpfilters.xml</value>
            </setting>
            <setting name="ConvertToTIFFJob" serializeAs="String">
                <value>tdf2tiff.py</value>
            </setting>
            <setting name="ExtractImage" serializeAs="String">
                <value>extractdata.py</value>
            </setting>
            <setting name="DegradationMethodsXmlFile" serializeAs="String">
                <value>degradecrop.xml</value>
            </setting>
            <setting name="PostProcessJob" serializeAs="String">
                <value>postprocess.py</value>
            </setting>
            <setting name="HISFileFormatExtension" serializeAs="String">
                <value>.his</value>
            </setting>
            <setting name="ConvertHIS2TDFJob" serializeAs="String">
                <value>his2tdf.py</value>
            </setting>
            <setting name="DependenciesPath" serializeAs="String">
                <value>depend</value>
            </setting>
            <setting name="VC2010Redistributable_x64" serializeAs="String">
                <value>vcredist_x64.exe</value>
            </setting>
            <setting name="PerformGPUCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </BrunTomoProject.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SYRMEPTomoProject.Properties.Settings>
            <setting name="FormSettings_WorkingPath" serializeAs="String">
                <value>S:\STP</value>
            </setting>
            <setting name="FormSettings_TemporaryPath" serializeAs="String">
                <value>R:\STP</value>
            </setting>
            <setting name="FormSettings_OutputPath" serializeAs="String">
                <value>S:\STP</value>
            </setting>
            <setting name="FormSettings_OutputPrefix" serializeAs="String">
                <value>slice</value>
            </setting>
            <setting name="HISToTDF_CropTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_CropBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_CropLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_CropRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_gZipCompression" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_gZipCompression" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_TiffProjectionChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TIFF2TDF_FilePrefixProjection" serializeAs="String">
                <value>tomo</value>
            </setting>
            <setting name="TIFF2TDF_FilePrefixFlat" serializeAs="String">
                <value>flat</value>
            </setting>
            <setting name="TIFF2TDF_FilePrefixDark" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="TDF2TIFF_FilePrefixProjection" serializeAs="String">
                <value>tomo</value>
            </setting>
            <setting name="TDF2TIFF_FilePrefixFlat" serializeAs="String">
                <value>flat</value>
            </setting>
            <setting name="TDF2TIFF_FilePrefixDark" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="TDF2TIFF_FormatTIFFChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_ProjectionOrderChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_DatasetToExportTomo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_DatasetToExportFlat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_DatasetToExportDark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormSettings_SinoPrefix" serializeAs="String">
                <value>sino</value>
            </setting>
            <setting name="FormSettings_ProjectionPrefix" serializeAs="String">
                <value>tomo</value>
            </setting>
            <setting name="FormSettings_NrOfProcesses" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FormSettings_ChunkSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SessionID" serializeAs="String">
                <value />
            </setting>
            <setting name="PostProcessingPreviewJob" serializeAs="String">
                <value>preview_postprocessing.py</value>
            </setting>
        </SYRMEPTomoProject.Properties.Settings>
        <BrunTomoProject.Properties.Settings>
            <setting name="FormSettings_WorkingPath" serializeAs="String">
                <value>S:\STP</value>
            </setting>
            <setting name="FormSettings_TemporaryPath" serializeAs="String">
                <value>R:\STP</value>
            </setting>
            <setting name="FormSettings_OutputPath" serializeAs="String">
                <value>S:\STP</value>
            </setting>
            <setting name="FormSettings_OutputPrefix" serializeAs="String">
                <value>slice</value>
            </setting>
            <setting name="HISToTDF_CropTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_CropBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_CropLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_CropRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HISToTDF_gZipCompression" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_CropRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_gZipCompression" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIFF2TDF_TiffProjectionChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TIFF2TDF_FilePrefixProjection" serializeAs="String">
                <value>tomo</value>
            </setting>
            <setting name="TIFF2TDF_FilePrefixFlat" serializeAs="String">
                <value>flat</value>
            </setting>
            <setting name="TIFF2TDF_FilePrefixDark" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="TDF2TIFF_FilePrefixProjection" serializeAs="String">
                <value>tomo</value>
            </setting>
            <setting name="TDF2TIFF_FilePrefixFlat" serializeAs="String">
                <value>flat</value>
            </setting>
            <setting name="TDF2TIFF_FilePrefixDark" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="TDF2TIFF_FormatTIFFChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_ProjectionOrderChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_DatasetToExportTomo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_DatasetToExportFlat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDF2TIFF_DatasetToExportDark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormSettings_SinoPrefix" serializeAs="String">
                <value>sino</value>
            </setting>
            <setting name="FormSettings_ProjectionPrefix" serializeAs="String">
                <value>tomo</value>
            </setting>
            <setting name="FormSettings_NrOfProcesses" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PhaseRetrievalJob_Multithread" serializeAs="String">
                <value>phaseretrieval_multithread.py</value>
            </setting>
            <setting name="PreProcessingJob_Multithread" serializeAs="String">
                <value>preprocessing_multithread.py</value>
            </setting>
        </BrunTomoProject.Properties.Settings>
    </userSettings>
</configuration>
